@{
    ViewData["Title"] = "Home Page";
}
@model ProsodicModel

<h2>Prosidics Data</h2>
<ul>
    @if (Model != null)
    {
        @foreach (var item in Model.TimedData)
        {
            <li>@item.CommunicationPerformance</li>
        }

    }
</ul>
<h2>API Data</h2>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Omnia Dev Task 4 with ASP.NET Core</p>
    <p>Under Construction</p>
</div>
